@page
@model CompuTrack.Pages.Endpoints.UpdateIssueModel
@{
    Layout = null;
}
<script src="/_framework/aspnetcore-browser-refresh.js"></script>
If you are reading this, you have ended up in the wrong spot. This page is for requests to the server.
<br />
<br />
<b>DO NOT ATTEMPT TO MODIFY YOUR URL TO SEND DATA TO THE SERVER!</b>
<br />
<br />
We have already taken precautions against manipulation attempts.
<br />
Do not be reported as [@User.Identity.Name],
<br />
Turn back now while you still can by clicking <a href="/">Here.</a><br/><br/>
This Incident has been reported.
