
/* Dashboard */
div.dashboard-title {
    font-family: 'copperplate', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    color:var(--header-text);
    font-size:24pt;
    padding:10px
}
div.dashboard {
    background-color: var(--pg-bg);
    width: auto;
    height:100%
}
div.dashboard-statistics {
    width:300px;
    height:300px;
    margin:20px;
    padding:10px;
    position: absolute;
    z-index: 9;
    text-align: center;
    background-color: var(--header-secondary);
}
div.dashboard-statistics-title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24pt;
    padding:10px;
    user-select: none;
    cursor:move;
    color: var(--header-text);
}
div.dashboard-statistic {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    background-color: var(--header-primary);
    padding:10px;
    color:var(--header-text);
    text-align: left;
    background-color: var(--header-text-hover);
    cursor:move;
}
div.dashboard-statistic:hover {
    background-color: var(--button-text-disabled);
}
div.actions {
    position: absolute;
    background-color: var(--header-secondary);
    width:300px;
    left:700px;
    height:350px;
}
div.actions-title {
    font-size: 24pt;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom:10px;
    margin-top: 20px;
    user-select: none;
    color:var(--header-text)
}
div.actions-item {
    padding:10px;
    text-align: center;
    font-size: 18pt;
    margin-left:10px;
    margin-right:10px;
    background-color: var(--header-text-hover);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    color:var(--header-text)
}
div.actions-item:hover {

    background-color: var(--button-text-disabled);
    color:white;
}

div.dashboard-cock {
    width:285px;
    height:285px;
    margin:20px;
    padding:10px;
    position: absolute;
    z-index: 9;
    left:350px;
    text-align: center;
    background-color: var(--header-secondary);
}
div.dashboard-cock iframe {
    width: 285px;
    height: 285px;
    border:0;
    position:relative
}