div.body {
    overflow:scroll;
    background-color:var(--pg-bg);
    color:var(--header-text);
}
table.table {
    width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:var(--pg-bg);
    color:var(--header-text);
    border-collapse: collapse;
}
th.table-header {
    width: 100%;
    font-size: 24pt;
    background-color:var(--pg-bg);
    color:var(--header-text);
}
tr.Issues-Issue:hover {
    background-color: var(--header-text-hover);
    color:var(--header-text);
}
tr.Issues-Issue {
    padding:0px;
}
tr.issues-header {
    font-weight: bold;
    text-decoration: underline;
    background-color:var(--pg-bg);
    color:var(--header-text);
}
button.table-header-manage {
    position: absolute;
    right:0px;
    margin:10px;
    font-size: 16pt;
    padding:5px;
    border-radius: 0px;
    border: 0px;
    background-color: var(--header-secondary);
    color:var(--header-text)
}
button.table-header-manage:hover {
    background-color: var(--header-text-hover);
}
.Selected {
    background-color: var(--palette-orange);
}

button.disabled {
    color: var(--button-text-disabled);
    background-color: var(--header-text-hover)
}
