.explorer-header {
    padding: 20px;
    position: relative;
    background-color: var(--header-secondary)

}
.explorer-header-title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20pt;
    color:var(--header-text);
    font-weight: bold;

}
.explorer-header-controls {
    float:right;
    position: relative;
    height:40px;
    width:auto;
    min-width: 100px;
}



/* Styline Sheets for Sidebar*/
.explorer-sidebar {
    position: absolute;
    width:400px;
    height:100%;
    background-color: var(--header-tertiary);
}
/* Controls an Item in the sidebar*/
.explorer-sidebar-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    padding:5px;
    margin:5px;
    background-color: var(--explorer-item);
    font-weight: bold;
    text-align: center;
    color: var(--header-text);
    height:25px;
}
.explorer-sidebar-item:hover {
    background-color: var(--explorer-item-hover);
}
/* Controls a Spacer in the sidebar*/
.explorer-sidebar-spacer {
    height:2px;
    margin:15px;
    background-color: var(--explorer-seperator)
}
.explorer-sidebar-footer {
    text-align: center;
    width: 400px;
    bottom:10px;
    position: fixed;
    font-size: 10pt;
    color:var(--header-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.selected {
    background-color: var(--palette-orange);
}






/* Tables R Cool, dude.*/
.explorer-table {
    width:1520px;
    height:800px;
    background-color: var(--pg-bg);
    position: absolute;
    left:400px;
    overflow:scroll;
}
.explorer-data {
    position:relative;
    bottom:0px;
}
.explorer-md {
    color:var(--header-text);
    padding-left:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:max-content;
    width: auto;
}

.explorer-table-header {
    color:var(--header-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 20px;
    font-size: 24pt;
}
.explorer-table-loading {
    color:var(--header-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 18px;
    
}
.explorer-table-col-header {
    color:var(--header-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
.explorer-table-row {
    color:var(--header-text);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.explorer-table-row-cell {
    width:max-content;
    padding-left: 30px;
    padding-right: 30px;
}



.control-button {
    height: 40px;
    width: auto;
    min-width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    margin-left:10px;
    margin-right:10px;
    background-color: var(--explorer-item);
    border:0px;
    color:var(--header-text)
}
.control-button:hover {
    background-color: var(--explorer-item-hover);
}

.control-button-disabled { 
    background-color: var(--explorer-item-disabled);
    color: var(--button-text-disabled);
}
.control-button-disabled:hover { 
    color:var(--button-text-disabled);
    background-color: var(--explorer-item-disabled);
}