@page
@model CompuTrack.Pages.IssuesModel
@using CompuTrack.src.datamgmt;
@using System.Xml;
@using System.Text;
@using CompuTrack.Pages;
@using System.Web;
@using CompuTrack.src.Client;
@using Microsoft.JSInterop;
@{
	ViewData["Title"] = "Issue Center - CompuTrack";
}

<script type="text/javascript" src="/Pages/Issues.cshtml.js"></script>
@{
    // Fetches ALL Issues
    StringWriter sw = new Utf8StringWriter();
    XmlWriter xw = XmlWriter.Create(sw);
    dbman.FetchData("DB1", "SELECT Issues.*\nFROM Issues\nORDER BY STATUS desc;", 9, "ISSUELIST").WriteContentTo(xw);
    xw.Close();

    // Fetches User Profile
    StringWriter userprof = new Utf8StringWriter();
    XmlWriter usrwr = XmlWriter.Create(userprof);
    XmlDocument Profile = dbman.FetchData("DB1", "SELECT UserPrinciples.UserEmail, UserPrinciples.UserGUID\nFROM UserPrinciples\nWHERE(([UserPrinciples].[UserEmail]='" + User.Identity?.Name + "'));", 9, "USERPROFILE");
    if (Profile.FirstChild?.ChildNodes[1] is null) dbman.CreateNewGUIDForUser(User.Identity.Name);
    Profile.WriteContentTo(usrwr);
    usrwr.Close();
    //if (userprof.ToString() {}
}
<script src="/js/Issues.js"></script>

<!-- Converts the C# to JS serverside before we send it to the client. Clientside, they should see a whole lotta data. -->
<script>
	var tempprof = new DOMParser().parseFromString("@HttpUtility.JavaScriptStringEncode(userprof.ToString())".replace("&quot;", "\"").replace("&quot;", "\"").replace("&quot;", "\"").replace("&quot;", "\""), "text/xml").children[0];
	var UsrProf = new UserProfile(tempprof.children[0].innerHTML, tempprof.children[1].innerHTML);
	var XmlData = {
		IssueList: [

		]
	}
	var List = new DOMParser().parseFromString("@HttpUtility.JavaScriptStringEncode(sw.ToString())".replace("&quot;", "\"").replace("&quot;", "\"").replace("&quot;", "\"").replace("&quot;", "\""), "text/xml").children[0];
	for (i = 0; i != List.children.length; i++) {
		var id = List.children[i].children[0].innerHTML;
		var guid = List.children[i].children[1].innerHTML;
		var status = List.children[i].children[2].innerHTML;
		var assettag = List.children[i].children[3].innerHTML;
		var displaytext = List.children[i].children[4].innerHTML;
		var description = List.children[i].children[5].innerHTML;
		var userguid = List.children[i].children[6].innerHTML;
		var creationdate = List.children[i].children[7].innerHTML;
		XmlData.IssueList.push(new Issue(id, guid, status, assettag, displaytext, description, userguid, creationdate))
	}
</script>


<!-- Script for loading Table UI Functions as well as control behaviour-->




<!-- HTML Time baby!-->
<div>
	<h2>Issue Center</h2>
	<table class="issues-table">
		<thead>
			<tr class="issues-table-sections" id="issuecentertableheader">
				<th width="150px" id="Issues_UserFilter" onclick="ChangeCenterSelection(this)" class="issues-table-section">My Issues</th>
				<th width="150px" id="Issues_Global" onclick="ChangeCenterSelection(this)" class="issues-table-section">All Issues</th>
				<th width="150px" id="Issues_New" onclick="ChangeCenterSelection(this)" class="issues-table-section">New Issue</th>
				<th></th>
				<th width="150px" id="Issues_Filter" onclick="ChangeCenterSelection(this)" class="issues-table-section">Filters</th>
			</tr>
			
		</thead>
		<tbody>
			<tr>
				<td colspan="5" class="issues-table-container">
					<div id="issues-table-content-container" class="issues-table-content-container">
						<p id="issues-placeholder" class="issues-placeholder">No Issues Found.</p>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<script>
		


	</script>
</div>

@if (Request.Query["Tab"] == "New")
{
	<script>
		// Loads the final UI for the table by setting the selected tab to a default of "My Issues"
		ChangeCenterSelection(document.getElementById("Issues_New"));
	</script>
}
else if (Request.Query["Tab"] == "MyIssues")
{
	<script>
		// Loads the final UI for the table by setting the selected tab to a default of "My Issues"
		ChangeCenterSelection(document.getElementById("Issues_UserFilter"));
	</script>
}
else if (Request.Query["Tab"] == "Global")
{
	<script>
		// Loads the final UI for the table by setting the selected tab to a default of "My Issues"
		ChangeCenterSelection(document.getElementById("Issues_Global"));
	</script>
}

else
{
	<script>
		// Loads the final UI for the table by setting the selected tab to a default of "My Issues"
		ChangeCenterSelection(document.getElementById("Issues_UserFilter"));
	</script>
}
