@page
@model CompuTrack.Pages.IssuesModel
@{
	ViewData["Title"] = "Issue Center - CompuTrack";
}

<div>
	<h1 class="text-start display-1">Issue Center</h1>
	<a asp-area="" asp-page="/Issues/New">New Issue</a>
</div>