@page
@model CompuTrackNeo.Pages.Index1Model
@using System.Xml;
@using CompuTrack.src.datamgmt;
@using CompuTrack.src.Client;
@{
	ViewData["Title"] = "CompuTrack - Settings";
	XmlDocument Profile = dbman.FetchData("DB1", "SELECT UserPrinciples.UserEmail, UserPrinciples.UserGUID\nFROM UserPrinciples\nWHERE(([UserPrinciples].[UserEmail]='" + User.Identity?.Name + "'));", 9, "USERPROFILE");
	if (Profile.FirstChild.ChildNodes[1] is null) dbman.CreateNewGUIDForUser(User.Identity.Name);
}

<head></head>

<div class="text-start">
	<h1 class="display-1">CompuTrack Settings</h1>
	<h3>Debug Info</h3>
	<p>UserGUID: @Profile.FirstChild.ChildNodes[1].InnerText</p>
</div>