<!DOCTYPE html>
<html>
    <body>
        <div id="TEMPLATE">
            <h1 id="welcome-to-the-database-explorer">Welcome to the Database Explorer!</h1>
            <h2 id="getting-started">Getting Started</h2>
            <p>Welcome to the Database Explorer! Here, you can view all aspects of CompuTrack’s Tables, and modify objects at will! Here, you can: * Create, Modify, and List all assets in all tables * Edit settings and users of application</p>
            <h2 id="actions-are-cool">Actions are cool</h2>
            <p>Select a link to navigate to a page. * <a href="/client/html/index.html">CompuTrack Dashboard</a> * <a href="/client/html/viewer.html">CompuTrack Database Explorer</a></p>    
        </div>
    </body>
</html>