:root {
    --header-primary: #383838;
    --header-secondary: #393939;
    --header-text: #f9f0f0;
    --header-text-hover :#8691c668;   
    --palette-orange: #ff6a00a1;
    --pg-bg: #1e1e1e;
    --button-text-disabled:#767676;
    --logout-button-hover:#ff000094;
    --cock-dialcolor: rgb(23, 107, 90);
    --cock-face:rgb(28, 28, 28);
    --cock-secondhand:rgba(209, 48, 48, 0.552);
    --cock-hands:rgba(66, 131, 137, 0.642);
}