:root {
    --header-primary: #383838;
    --header-secondary: #393939;
    --header-text: #f9f0f0;
    --header-text-hover :#8691c668;   
    --palette-orange: #ff6a00a1;
    --pg-bg: #1e1e1e;
    --button-text-disabled:#767676;
}