@page
@model CompuTrack.Pages.Issues.NewModel
@{
	ViewData["Title"] = "New Issue - CompuTrack";
	Layout = null;
}
@Html.AntiForgeryToken()
<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<div>
	<span>Hello,</br></span>
	<span>If you are seeing this then you have somehow ended up somewhere very irregular.</br></span>
	<span><a href="/">Click here to return to reality.</a></span>
</div>

