body {
}
.noselect {
    user-select:none;
}
.selectable {
    user-select:all;
}
.issue-status-tag {
    width:125px;
    text-align: center;
    border-radius:10px;
    padding-right:10px;
    padding-left:10px;
    user-select:none;
}

.red {background-color: #ff0000}
.green {background-color:#00ff00}
.yellow {background-color:#f0f000}

.issueproperties-table {
    width:100%
}
.issueproperties-panel {
    width:80%;
    padding:20px;
}
.issueproperties-description {
    resize:none;
}
.issueproperties-commentspanel {

}

.issueproperties-actionpanel {
    width: 20%;
}
.issueproperties-
.issueproperties-commentspanel-title {
    text-align:center;
    font-size:20pt;
    vertical-align:top
}

.issueproperties-noelevation {
    border:2px solid red;
    background-color:#e9666e;
    margin:10px;
    color:black;
    font-weight:bold;
}
/* Tempory Table Border for development*/
table, th, td {
    border: 1px solid black;
}