/* _content/CompuTrack/Pages/Explorer.cshtml.rz.scp.css */
body[b-e53m14e7k3] {
}


div.explorer-navbar[b-e53m14e7k3] {
    left:0;
    width:250px;
    height:100%;
}

.explorer-navbar-header[b-e53m14e7k3] {
    text-align:center;
    font-size:20px;
}
.explorer-icon[b-e53m14e7k3] {
    margin-right:5px;
    margin-bottom:3px;
}

.explorer-navbar-table[b-e53m14e7k3] {
    width: 100%;
}

.explorer-navbar-item[b-e53m14e7k3] {
    text-align: left;
}
    .explorer-navbar-item span[b-e53m14e7k3] {
        position: relative;
        left: 25px;
    }
.explorer-navbar-seperator[b-e53m14e7k3] {
    text-align: left;
}

    .explorer-navbar-seperator span[b-e53m14e7k3] {
        position: relative;
        left: 25px;

        font-weight:bold;
        text-decoration:underline;
    }
.explorer-navbar-item:hover[b-e53m14e7k3] {
    background-color: #f1f1f1;
}

.explorer-navbar-item-selected[b-e53m14e7k3] {
    background-color: #e1e1e1;
}

.explorer-navbar-item-selected:hover[b-e53m14e7k3] {
    background-color: #d1d1d1;
}

/* Changes Dimentions of Container to override baseline */
@media (min-width:1400px) {
    div.explorer-container[b-e53m14e7k3] {
        margin-right: unset;
        max-width: 1600px;
    }
}

/* _content/CompuTrack/Pages/Issues.cshtml.rz.scp.css */
:root[b-pb86f05ye5] {
    --issues-status-open: #ff0000af;
    --issues-status-closed: #00ff00af;

}

table.issues-table[b-pb86f05ye5] {
    width:100%;
}

.issues-table-section[b-pb86f05ye5] {
    text-align: center;
    border: 1px solid black;
    user-select:none;
}

.issues-table-container[b-pb86f05ye5] {
    border: 1px solid black;
    min-height:300px;
    padding:10px
}
.issues-table-section:hover[b-pb86f05ye5] {
    cursor:pointer;
    background-color: #7d9fe541;
}

.issues-table-selected[b-pb86f05ye5] {
    font-weight:bold;
    text-decoration:underline;
    background-color:#b1b1b1d4
}

.issues-placeholder[b-pb86f05ye5] {
    text-align:center;
    font-size:24px;
    padding:125px 0;
}
.issues-table-content-container[b-pb86f05ye5] {
    min-height: 300px;
}

.issues-issue[b-pb86f05ye5] {
}
.issues-issue:hover[b-pb86f05ye5] {
    background-color: #ccccccc7
}
.issues-issue-id[b-pb86f05ye5] {

}
.issues-issue-title[b-pb86f05ye5] {

}
.issues-issue-date[b-pb86f05ye5] {
    float: right
}

.issues-issuelist-container[b-pb86f05ye5] {
    max-height:550px;
    overflow-x:unset;
    overflow-y:scroll;
}
.OPEN[b-pb86f05ye5] {
    background-color: #ff0000af;
}
.CLOSED[b-pb86f05ye5] {
    background-color: #00ff00af;
}

/* _content/CompuTrack/Pages/Issues/Issue.cshtml.rz.scp.css */
body[b-dgpshijjdl] {
}
.noselect[b-dgpshijjdl] {
    user-select:none;
}
.selectable[b-dgpshijjdl] {
    user-select:all;
}
.issue-status-tag[b-dgpshijjdl] {
    width:125px;
    text-align: center;
    border-radius:10px;
    padding-right:10px;
    padding-left:10px;
    user-select:none;
}

.red[b-dgpshijjdl] {background-color: #ff0000}
.green[b-dgpshijjdl] {background-color:#00ff00}
.yellow[b-dgpshijjdl] {background-color:#f0f000}

.issueproperties-table[b-dgpshijjdl] {
    width:100%
}
.issueproperties-panel[b-dgpshijjdl] {
    width:80%;
    padding:20px;
}
.issueproperties-description[b-dgpshijjdl] {
    resize:none;
}
.issueproperties-commentspanel[b-dgpshijjdl] {

}

.issueproperties-actionpanel[b-dgpshijjdl] {
    width: 20%;
}
.issueproperties-
.issueproperties-commentspanel-title[b-dgpshijjdl] {
    text-align:center;
    font-size:20pt;
    vertical-align:top
}


/* Tempory Table Border for development*/
table[b-dgpshijjdl], th[b-dgpshijjdl], td[b-dgpshijjdl] {
    border: 1px solid black;
}
/* _content/CompuTrack/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-99bumiuwnq] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-99bumiuwnq] {
  color: #0077cc;
}

.btn-primary[b-99bumiuwnq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-99bumiuwnq], .nav-pills .show > .nav-link[b-99bumiuwnq] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-99bumiuwnq] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-99bumiuwnq] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-99bumiuwnq] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-99bumiuwnq] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-99bumiuwnq] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
