body[b-dgpshijjdl] {
}
.noselect[b-dgpshijjdl] {
    user-select:none;
}
.selectable[b-dgpshijjdl] {
    user-select:all;
}
.issue-status-tag[b-dgpshijjdl] {
    width:125px;
    text-align: center;
    border-radius:10px;
    padding-right:10px;
    padding-left:10px;
    user-select:none;
}

.red[b-dgpshijjdl] {background-color: #ff0000}
.green[b-dgpshijjdl] {background-color:#00ff00}
.yellow[b-dgpshijjdl] {background-color:#f0f000}

.issueproperties-table[b-dgpshijjdl] {
    width:100%
}
.issueproperties-panel[b-dgpshijjdl] {
    width:80%;
    padding:20px;
}
.issueproperties-description[b-dgpshijjdl] {
    resize:none;
}
.issueproperties-commentspanel[b-dgpshijjdl] {

}

.issueproperties-actionpanel[b-dgpshijjdl] {
    width: 20%;
}
.issueproperties-
.issueproperties-commentspanel-title[b-dgpshijjdl] {
    text-align:center;
    font-size:20pt;
    vertical-align:top
}


/* Tempory Table Border for development*/
table[b-dgpshijjdl], th[b-dgpshijjdl], td[b-dgpshijjdl] {
    border: 1px solid black;
}